.carousel-inner>.item>img, .carousel-inner>.item>a>img {
	absolute-width: 100%;
	absolute-height: 100%;
	margin: auto;
}

body {
    background-color: #E0F8F5;
}

#searchBar{
	border: 5px;
	text-align:Left;
}

#standard-Registration {
	text-align: left;
	width: 250px;
}

#standard-Registration input {
	text-align: left;
	width: 100%;
}

#standard-Registration #submitButton {
	text-align: left;
	width: 50%;
}